@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

/*-----------------Generales---------------*/
* {
  box-sizing: border-box;
}
.encolumnar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid gray;
}
.encolumnar section {
  width: 47%;
}
/*-----------------Títulos---------------*/
h1,
h2,
h3,
.item {
  color: black;
}
h2,
h3 {
  font-size: 20px;
  background-color: #fcee21;
  display: inline;
}
h2 {
  font-weight: none;
}
h3 {
  font-size: 26px;
}
h4 {
  display: inline;
  margin: 0;
  padding: 10px;
  font-size: 51px;
  color: white;
  background-color: black;
  line-height: 100px;
}
/*-----------------Listas---------------*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol li {
  margin-bottom: 6%;
}
/*------------------Body---------------*/
body {
  color: #333;
  font: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  width: 75%;
  margin: 0 auto;
}
/*----------------Header---------------*/
header,
main,
aside,
footer {
  width: 100%;
}
header h1 {
  font-size: 41px;
  font-weight: 700;
}
header img {
  width: 70%;
  margin-left: 30%;
}
header.encolumnar {
  border-bottom: none;
}
.grande {
  font-size: 80px;
  font-family: "Coiny", cursive;
}
/*----------------Main---------------*/
main {
  font-size: 21px;
}
/*----------------NavBar---------------*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
nav h1 {
  font-family: 'Coiny', cursive;
  margin-right: auto;
}
nav a {
  margin-left: 20px;
  color: #7a7a7a;
  text-decoration: none;
  text-transform: capitalize;
}
nav a:hover {
  text-decoration: underline;
}
/*----------------Servicios---------------*/
/* section {
  width: 45%;
} */
.services img {
  width: 100%;
}
.item {
  font-size: 24px;
  font-weight: bold;
  background-color: #fcee21;
}
#titulo {
  font-size: 40px;
}
#imagen {
  width: 80%;
  display: block;
  margin: auto;
}
/*----------------Span---------------*/
span {
  color: red;
}
/*----------------Formulario---------------*/
form {
  margin: auto;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  height: 40px;
  margin-bottom: 8px;
}
input,
textarea {
  width: 100%;
}
.boton {
  border-radius: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
}
/*----------------Aside---------------*/
aside {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
aside img {
  text-align: center;
  height: auto;
  width: 50%;
}
aside.encolumnar {
  border-bottom: none;
}
/*----------------Footer---------------*/
footer {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  background-color: #fcee21;
}
footer h1 {
  font-family: 'Coiny', cursive;
  font-size: 33px;
}
footer a {
  margin-left: 20px;
  color: #7a7a7a;
  text-decoration: none;
}
